@import '../../../config/theme.scss';

.slider-overlay-container {
  width: $slider-overlay-width;
  height: auto;
  max-height: 80vh;
  font-size: 0.7rem;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: $slider-overlay-background-color;
  opacity: $slider-overlay-opacity;
  cursor: pointer;
  z-index: 100;
}

.slider-overlay-header {
  display: flex;
  justify-content: center;
}

.slider-overlay-body {
  height: $slider-overlay-height;
  min-height: $slider-overlay-min-height;
  max-height: $slider-overlay-max-height;
  overflow-x: hidden;
  overflow-y: auto;
}

.slider-overlay-section-label {
  color: $slider-overlay-section-label-color;
}