@import '../../../config/theme.scss';

.info-overlay-container {
  width: auto;
  height: auto;
  font-size: $info-guide-font-size;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.info-overlay-text:hover {
  text-decoration: underline;
}

.player-container {
  height: auto;
  width: auto;
}

.player-modal {
  size: 'lg';
}

.react-player {
  padding-top: 56.25%; /* Scale using a 16:9 aspect ratio */
  position: relative;
}

.react-player > div {
  position: absolute;
  top: 0;
  left: 0;
}

.close-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}