@import '~mapbox-gl/dist/mapbox-gl.css';

/* Fonts */
@import "~@fontsource/roboto/latin.css";
@import "~@fontsource/amatic-sc/latin.css";
@import "~@fontsource/nanum-gothic/latin.css";

$font-family-heading: "Nanum Gothic";
$font-family-text: "Roboto";
$font-family-nav-logo: "Amatic SC";
$font-family-nav-text: "Roboto";
$font-family-slider-label: "Roboto";

/* Colors */

$theme-colors: (
  /* Override default Bootstrap colors */
);
@import "~bootstrap/scss/bootstrap";

$color-heading: black;
$color-text: darkgray;
$color-background: white;
$color-nav-bar-background: white;
$input-overlay-background-color: rgba(255, 255, 255, 1);
$input-overlay-section-label-color: navy;

// :root {
  
// }

@media (prefers-color-scheme: dark) {
  
}

/* Positions */

$navigation-control-right: 36px;
$navigation-control-top: 5px;
$info-overlay-right: 5px;
$info-overlay-top: 5px;
$style-overlay-right: 5px;
$style-overlay-top: 5px;

/* Sizes and breakpoints */

$navbar-height: 56px;
$font-size-nav-logo: 2rem;
$info-guide-font-size: 0.7rem;
$slider-height: 105px;
$input-overlay-width: 280px;
$input-overlay-height: 70vh;
$input-overlay-min-height: 30vh;
$input-overlay-max-height: 550px;
$input-overlay-opacity: 0.9;

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) { 
  .input-overlay-container { width: 220px; }
  .input-container { height: 35px; }
  html { font-size: 14px; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .input-overlay-container { width: 250px; }
  .input-container { height: 65px; }
  html { font-size: 16px; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .input-overlay-container { width: 280px; }
  .input-container { height: 85px; }
  html { font-size: 18px; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .input-overlay-container { width: 320px; }
  .input-container { height: 100px; }
  html { font-size: 20px; }
}

/* Miscellaneous */

a {
  outline: 0;
  user-select: none;
}