$parcel-stop-1: #f6d2a9;
$parcel-stop-2: #f5b78e;
$parcel-stop-3: #f19c7c;
$parcel-stop-4: #ea8171;
$parcel-stop-5: #dd686c;
$parcel-stop-6: #ca5268;
$parcel-stop-7: #b13f64;

:export {
  parcelStop1: $parcel-stop-1;
  parcelStop2: $parcel-stop-2;
  parcelStop3: $parcel-stop-3;
  parcelStop4: $parcel-stop-4;
  parcelStop5: $parcel-stop-5;
  parcelStop6: $parcel-stop-6;
  parcelStop7: $parcel-stop-7;
}