@import '../../config/theme.scss';

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay-group {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigation-control {
  margin-right: $navigation-control-right;
  margin-top: $navigation-control-top;
}

.info-overlay {
  margin-right: $info-overlay-right;
  margin-top: $info-overlay-top;
}

.style-overlay {
  margin-right: $style-overlay-right;
  margin-top: $style-overlay-top;
  transform-origin: top right;
  transform: scale(0.85);
}

.loading-indicator {
  width: 100%;
  height: 100%;
  position: relative;
}

.centered-container {
  position: absolute;
  right: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}