@import '../../../config/theme.scss';

.input-overlay-container {
  width: $input-overlay-width;
  height: auto;
  max-height: 80vh;
  font-size: 0.7rem;
  margin-left: 5px;
  margin-top: 5px;
  background-color: transparent;
  opacity: $input-overlay-opacity;
  cursor: pointer;
  z-index: 100;
}

.input-overlay-header {
  display: flex;
  justify-content: center;
}

.input-overlay-body {
  width: 100%;
  height: $input-overlay-height;
  min-height: $input-overlay-min-height;
  max-height: $input-overlay-max-height;
  overflow-x: hidden;
  overflow-y: auto;
}

.input-overlay-section-label {
  color: $input-overlay-section-label-color;
}

.card-body {
  padding-left: 10px !important;
  padding-right: 0px !important;
}