/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: local('typeface-roboto'), url(./../../node_modules/typeface-roboto/files/roboto-latin-400.woff) format('woff');
}

@font-face {
  font-family: 'Amatic SC';
  src: local('typeface-amatic-sc'), url(./../../node_modules/typeface-amatic-sc/files/amatic-sc-latin-400.woff) format('woff');
}

@font-face {
  font-family: 'Nanum Gothic';
  src: local('typeface-nanum-gothic'), url(./../../node_modules/typeface-nanum-gothic/files/nanum-gothic-latin-400.woff) format('woff');
}

$font-family-heading: "Nanum Gothic";
$font-family-text: "Roboto";
$font-family-nav-logo: "Amatic SC";
$font-family-nav-text: "Roboto";
$font-family-slider-label: "Roboto";

/* Colors */

$theme-colors: (
  /* Override default Bootstrap colors */
);
@import "~bootstrap/scss/bootstrap";

$color-heading: black;
$color-text: darkgray;
$color-background: white;
$color-nav-bar-background: white;
$slider-overlay-background-color: rgba(255, 255, 255, 1);
$slider-overlay-section-label-color: navy;

@media (prefers-color-scheme: dark) {
  
}

/* ------- positions -------- */

$navigation-control-right: 10px;
$navigation-control-top: 85px;
$info-overlay-right: 10px;
$info-overlay-top: 55px;
$imagery-overlay-right: 10px;
$imagery-overlay-top: 10px;

/* ------- sizes and breakpoints ------- */

$navbar-height: 56px;
$font-size-nav-logo: 2rem;
$info-guide-font-size: 0.7rem;
$slider-height: 85px;
$slider-overlay-width: 280px;
$slider-overlay-height: 70vh;
$slider-overlay-min-height: 30vh;
$slider-overlay-max-height: 550px;
$slider-overlay-opacity: 0.9;

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(md) {
  
}

@include media-breakpoint-down(sm) {

}

$font-size-smallest: 10px;
$font-size-smaller: 12px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-h1: 34px;
$font-size-h3: 20px;
$font-size-h5: 16px;