@import '../../../Theme.scss';

.slider-container {
  width: auto;
  min-height: $slider-height;
}

.slider-with-min-max {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-min-value {
  margin-right: 4px;
}

.slider-max-value {
  margin-left: 4px;
}

.slider-label {
  font-family: $font-family-slider-label;
  span {
    display: none;
  }
}
.slider-label:hover {
  span {
    display: inline;
    color: blue;
  }
}

.input-range {
  height: 1.5rem !important;
  width: 80% !important;
}